.box{
    background-image: url("../../images/bg-1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 10px;
    z-index: -1;
    width: 100%;    
}
.home{
    margin-top: 2rem;
    margin-left: 8rem;
    margin-right: 8rem;
}
.home2{
    margin-top: 5rem;
    margin-left: 8rem;
    margin-right: 8rem;
}
.heading-title{
    position: static;
    width: auto;
    padding-bottom: 3px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    font-family: 'Noto Serif',sans-serif;
    font-size: 60px;
    line-height: 68px;
    font-weight: 400;
    white-space: normal;
}
.underline-blue{
    background-image: url("../../images/bg-underline.png");
    background-position: 0 100%;
    background-size: auto;
    background-repeat: no-repeat;
    color: #2f80ed;
}

.heading-subtitle{
    margin-left: 0;
    color: #4f4f4f;
    font-size: 24px;
}

.img-cls{
    width: 1200px;
    vertical-align: middle;
    display: inline-block;
    max-width: 100%;
    margin-top: 8rem;
    margin-left: 8rem;
    margin-right: 8rem;
}

.heading-title2{
    align-self: flex-start;
    font-family: 'Noto Serif',sans-serif;
    color: #000;
    font-size: 60px;
    font-weight: 400;
}

.text-strikethrough{
    background-image: url("../../images/bg-underline2.svg");
    background-position: 50% 50%;
    background-size: auto;
    background-repeat: no-repeat;
}

.pic2-cls{
    max-height: 500px;
    border: 0;
    vertical-align: middle;
    display: inline-block;
    max-width: 100%;
}

.blue-text{
    color: #2f80ed;
}

.collab-icon-cls{
    width: 72px;
    height: 72px;
}

.heading-title3{
    position: static;
    padding-bottom: 0;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 28px;
    font-weight: 600;
}

.text-purple{
    color: #a36bb2;
}

.heading-subtitle2{
    padding-top: 10px;
    font-family: 'Source Sans Pro',sans-serif;
    color: #4f4f4f;
    font-size: 20px;
    font-weight: 400;
}

.alignment-prop{
    margin-top: 8rem;
}

.bg-svg{
    position: absolute;
    left: auto;
    right: 0;
    bottom: auto;
    z-index: -1;
    height: 20%;
    width: 30%;
    margin-right: 12rem;
    margin-bottom: 3rem;
}

.pic3-cls{
    height: 35rem;
    width: 35rem;
}

.heading-title4{
    position: static;
    padding-bottom: 0;
    font-family: 'Source Sans Pro',sans-serif;
    color: #043160;
    font-size: 28px;
    font-weight: 600;
}

.heading-title5{
    position: static;
    padding-bottom: 0;
    font-family: 'Source Sans Pro',sans-serif;
    color: #2f80ed;
    font-size: 28px;
    font-weight: 600;
}

.pic5-cls{
    height: 25rem;
    width: 33rem;
}

.alignment-prop2{
    margin-top: 6rem;
}

.bg-svg-2{
    position: absolute;
    left: auto;
    right: 0;
    bottom: auto;
    z-index: -1;
    height: 16%;
    width: 28%;
    margin-right: 62rem;
}

.bg-svg-3{
    position: absolute;
    left: auto;
    right: 0;
    bottom: auto;
    z-index: -1;
    height: 20%;
    width: 26%;
    margin-right: 12rem;
}

.image-align{
    margin-top: 5rem;
}

.alignment-prop3{
    margin-top: 14rem;
}

.pic7-cls{
    height: 35rem;
    width: 35rem;
}