.container{
    text-align: center;
    margin: 8rem;
}

.heading-title2{
    align-self: flex-start;
    font-family: 'Noto Serif',sans-serif;
    color: #000;
    font-size: 60px;
    font-weight: 400;
}

.text-strikethrough{
    background-image: url("../../images/bg-underline2.svg");
    background-position: 50% 50%;
    background-size: auto;
    background-repeat: no-repeat;
}

.pic2-cls{
    max-height: 500px;
    border: 0;
    vertical-align: middle;
    display: inline-block;
    max-width: 100%;
}

.blue-text{
    color: #2f80ed;
}

.collab-icon-cls{
    width: 72px;
    height: 72px;
}

.heading-title3{
    position: static;
    padding-bottom: 0;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 28px;
    font-weight: 600;
}

.text-purple{
    color: #a36bb2;
}

.heading-subtitle2{
    padding-top: 10px;
    font-family: 'Source Sans Pro',sans-serif;
    color: #4f4f4f;
    font-size: 20px;
    font-weight: 400;
}

.heading-subtitle2{
    margin-left: 0;
    color: #4f4f4f;
    font-size: 24px;
}

.alignment-prop{
    margin-top: 8rem;
    text-align: left;
    padding-left: 3.5rem;
}

.bg-svg{
    position: absolute;
    left: auto;
    right: 0;
    bottom: auto;
    z-index: -1;
    height: 52%;
    width: 50%;
    margin-bottom: 3rem;
}

.pic3-cls{
    height: 35rem;
    width: 35rem;
}

.heading-title6{
    position: static;
    padding-bottom: 0;
    font-family: 'Source Sans Pro',sans-serif;
    color: #043160;
    font-size: 28px;
    font-weight: 600;
}


.heading-title4{
    position: static;
    padding-bottom: 0;
    font-family: 'Source Sans Pro',sans-serif;
    color: #33a787;
    font-size: 28px;
    font-weight: 600;
}

.heading-title5{
    position: static;
    padding-bottom: 0;
    font-family: 'Source Sans Pro',sans-serif;
    color: #2f80ed;
    font-size: 28px;
    font-weight: 600;
}

.pic5-cls{
    height: 25rem;
    width: 33rem;
}

.alignment-prop2{
    margin-top: 6rem;
    text-align: left;
}

.bg-svg-2{
    position: absolute;
    left: auto;
    right: 0;
    bottom: auto;
    z-index: -1;
    height: 65%;
    width: 50%;
    margin-right: 48rem;
}

.bg-svg-3{
    position: absolute;
    left: auto;
    right: 0;
    bottom: auto;
    z-index: -1;
    height: 66%;
    width: 50%;
    margin-top: 2rem;;
}

.bg-svg-4{
    position: absolute;
    left: auto;
    right: 0;
    bottom: -3;
    z-index: -1;
    height: 60%;
    width: 54%;
    margin-right: 48rem;
}

.image-align{
    margin-top: 5rem;
}

.alignment-prop3{
    margin-top: 14rem;
    text-align: left;
    padding-left: 3.5rem;
}

.pic7-cls{
    height: 35rem;
    width: 35rem;
}

.pic9-cls{
    height: 28rem;
    width: 36rem;
}


@media screen and (max-width: 767px){
    .container{
        margin-top: 2rem;
        text-align: center;
        margin-left: 0rem;
        margin-right: 0rem;
        width: 100%;
    }
    .heading-title2,.heading-title3,.heading-title4,.heading-title5{
        align-self: center;
        font-size: 30px;
        margin-left: 0rem;
        margin-right: 0rem;
        margin-top: 1rem;
    }
    .heading-subtitle2{
        font-size: 18px;
        text-align: center;
        margin-left: 0rem;
        margin-right: 0rem;
        margin-top: 1rem;
    }
    .alignment-prop,.alignment-prop2,.alignment-prop3{
        margin-top: 1rem;
        text-align: center;
        padding-left: 0;
        margin-left: 0rem;
        margin-right: 0rem;
    }
    .pic3-cls,.pic2-cls,.pic5-cls,.pic7-cls,.pic9-cls{
        height: 16rem;
        width: 20rem;
        padding-left: 0;
        margin-left: 0rem;
        margin-right: 0rem;
        margin-top: 1rem;
    }
    .bg-svg,.bg-svg-2,.bg-svg-3,.bg-svg-4{
        display: none;
    }
    .image-align{
        margin-top: 1rem;
        margin-left: 0rem;
        margin-right: 0rem;
    }
}